<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Главная страница"}  %}
	</head>
    <body>
    	{% include "../block/common/slider/tpl.twig" with {
            view: "top",
            prefix:"slider__",
            mod:"is--top",  
            list:[
                {
                    name:"!!! NEW PROJECT !!!",
                    color:"#AFDE0E",
                },   
                {
                    name:"Altaria oil packaging",
                },   
                {
                    name:"!!! MAIN NEWS !!!",
                    color:"#DB5610",
                },   
                {
                    name:"Winning at Cannes Lions",
                },  
                {
                    name:"!!! NEW PROJECT !!!",
                    color:"#AFDE0E",
                },   
                {
                    name:"Altaria oil packaging",
                },   
                {
                    name:"!!! MAIN NEWS !!!",
                    color:"#DB5610",
                },   
                {
                    name:"Winning at Cannes Lions",
                }                    
            ],
        } %} 
        <div class="content-block__wrapper  is--page-contacts">  
            <div class="content-block__wrapper-cols">  
                {% include "../block/common/navbar/navbar.twig" with {
                    navbar_prefix:"navbar__",
                    navbar_mod:"is--second",
                    active:page.contacts
                } %} 
                {% include "../block/common/lang/tpl.twig" with {
                    prefix:"lang__",
                    mod:"is--base",
                    active: page.contacts, 
                    list:[
                        {name:"ru", link:page.contacts},
                        {name:"en", link:page.agency_en}
                    ]} 
                %}
            </div>
            <main class="content-block__panel">
                {% include "../block/page/contacts.twig" with {
                    content_prefix:"content-block__", 
                    content_mod:"is--page-contacts",
                } %} 
            </main>
        </div>

    	{% include "../block/common/footer/footer.twig" with {
            footer_prefix:"footer__",
            lang_ru: page.contacts,
            lang_en: page.agency_en,
            lang_active: page.contacts,
        } %}

        {# {% include "../block/common/modals/include.twig"%} #}
    	
        {% include "../block/common/script/script.twig" with {map: "view"}%}
	</body>
</html> 
