<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
    <head>  
        {% include "../block/common/head/head.twig" with {title:"Главная"}  %}
    </head>
    <body>
        {% include "../block/common/slider/tpl.twig" with {
            view: "top",
            prefix:"slider__",
            mod:"is--top",  
            list:[
                {
                    name:"!!! NEW PROJECT !!!",
                    color:"#AFDE0E",
                },   
                {
                    name:"Altaria oil packaging",
                },   
                {
                    name:"!!! MAIN NEWS !!!",
                    color:"#DB5610",
                },   
                {
                    name:"Winning at Cannes Lions",
                },  
                {
                    name:"!!! NEW PROJECT !!!",
                    color:"#AFDE0E",
                },   
                {
                    name:"Altaria oil packaging",
                },   
                {
                    name:"!!! MAIN NEWS !!!",
                    color:"#DB5610",
                },   
                {
                    name:"Winning at Cannes Lions",
                }                    
            ],
        } %} 
        <div class="content-block__wrapper">  
            <div class="content-block__wrapper-cols">  
                {% include "../block/common/navbar/navbar.twig" with {
                    navbar_prefix:"navbar__",
                    navbar_mod:"is--second",
                    active:page.index,
                    lang_icon: 'lang-left',
                    lang_ru: page.index,
                    lang_en: page.agency_en,
                    lang_active: page.index
                } %} 
            </div>
            <main class="content-block__main">
                {% include "../block/page/index.twig" with {
                    view: "works_card",
                    content_prefix:"content-block__", 
                    content_mod:"is--page-index",               
                } %} 
            </main>
        </div>
        {% include "../block/common/footer/footer.twig" with {
            footer_prefix:"footer__",
            lang_icon: 'lang-left',
            lang_ru: page.index,
            lang_en: page.agency_en,
            lang_active: page.index
        } %}

        {# {% include "../block/common/modals/include.twig"%} #}
        
        {% include "../block/common/script/script.twig" with {map: "view"}%}
    </body>
</html> 
