.card__{
	&item{
		&.is--page{
			&-index-header{
				&.is--work{
					/*position: absolute;
					z-index: 2;
					top: 56.5%;
					left: 15px;
					width: 100%;					
					max-width: 240px;
					.media-breakpoint-up(@md; {
						max-width: 48vw;
					});
					.media-breakpoint-up(@lg; {
						top: 70px;
						left: 30px;
					});
					.media-breakpoint-up(@xl; {
						top: 30px;
					});*/
				}
			}
			&-agency{
				&.is--right{
				    margin-bottom: 40px;			
					p,div{
						.heading5();
					}
					.media-breakpoint-up(@md; {
					    margin-left: auto;
					    max-width: 370px;
					    margin-top: -35px;
					});
					.media-breakpoint-up(@xl; {
					    padding-right: 90px;
					    max-width: 570px;
					});
					h3{
						margin-bottom: 10px;
						font-family: @site_ff_custom;
						.heading3(); 
						.media-breakpoint-up(@md; {
							margin-bottom: 15px;
						});
					}
				}
				&.is--whowow{
					position: relative;
					max-width: 328px;
					.media-breakpoint-up(@md; {
						max-width: 350px;
					});
					.media-breakpoint-up(@lg; {
						max-width: 955px;
					});
					.media-breakpoint-up(@xl; {
						padding-left: @block_pl;
					});	
					.media-breakpoint-up(@xxl; {
						max-width: 1200px;
					});
				}
				&.is--approach{	
					margin-top: -23px;
					margin-bottom: 45px;
					.media-breakpoint-up(@md; {
						margin-top: -15px;
						margin-bottom: 110px;
					});
					.media-breakpoint-up(@xl; {
						padding-left: @block_pl;
					});	
					h4{
						font-family: @site_ff_custom;
						.heading3();
						margin-bottom: 10px;
						.media-breakpoint-up(@md; {
							margin-bottom: 15px;
							
						});
					}
				}
				&.is--works{
					margin-bottom: 48px;
					.media-breakpoint-up(@md; {
						margin-bottom: 95px;
					});
					.media-breakpoint-up(@xl; {
						padding-left: @block_pl;
					});	
				}
				&.is--team{
					margin-bottom: 30px;
					.media-breakpoint-up(@md; {
						margin-bottom: 70px;
					});
				}
			}
			&-contacts{
				h3{					
					color: @primary;
					.heading5();
					margin-bottom: 6px;
					.media-breakpoint-up(@md; {
						margin-bottom: 10px;
					});
				}
				p{
					a{
						color: @default;
					}
					.media-breakpoint-up(@md; {
						margin-bottom: 7px;
						&:last-child{
							margin-bottom: 0;
						}
					});						
				}
			}
		}
		&.is--works{
			&-card{
				position: relative;
				color: @default;
			}
			&-gallery{
				margin-bottom: 16px;
				.media-breakpoint-up(@md; {
					margin-bottom: 25px;					
				});
			}
		}
		&.is--team-card{
			transition: @trs-site;
			.media-breakpoint-up(@lg; {
				//max-width: 300px;
				&:hover{
					//max-width: 410px;
				}
			});
			.media-breakpoint-up(@md; {
				&:hover{
					transition: @trs-site, box-shadow 0.35s 0.3s;
					box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.06), 0px 21px 24px rgba(0, 0, 0, 0.15);
				}
			});
			.media-breakpoint-up(@xxl; {
				//max-width: 320px;
				&:hover{
					//max-width: 410px;
				}				
			});
		}
	}
	&group{	
		&.is--page{
			&-agency{
				&.is--approach{	
					p,div{
						.heading5();
					}
					.media-breakpoint-down(@md; {
						position: relative;
						&::after{
							content: '';
							position: absolute;
							width: 16px;
							height: 96px;
							background-color: @primary;
						}
						&:nth-child(2n+1){
							margin-right: -@container_gap;
							padding-right: @container_gap + 16px;
							&::after{
								right: 0;
								bottom: -20px;
							}
						}
						&:nth-child(2n+2){
							margin-left: -@container_gap;
							padding-left: @container_gap + 90px;
							&::after{
								left: 0;
								bottom: 0px;
							}
						}
					});
				}
				&.is--works{
					transition: @trs-site;
					margin-left: -@container_gap;
					padding-left: @container_gap;
					margin-right: -@container_gap;
					padding-right: @container_gap;
					padding-top: 15px;
					&.is--open{
						background-color: @default;
						margin-top:35px;
					}
					.media-breakpoint-up(@md; {
						margin-bottom: 11px;
						&.is--open{
							padding-top: 16px;
							margin-top: 0px;
							margin-bottom: 30px;
						}
					});
					.media-breakpoint-up(@xl; {
						margin-right: -@container_gap_xl;
						padding-right: @container_gap_xl;
					});
				}
			}
		}
		&.is--works{
			&-gallery{
				margin: 0 -@container_gap 50px;
				.media-breakpoint-up(@md; {
					margin: 0 0 32px 0;
					margin-bottom: 32px;
				});
			}
		}
	}
	&row{	
		&.is--page{
			&-agency{
				&.is--approach{
					display: grid;
					grid-gap: 20px;
					.media-breakpoint-up(@md; {
						grid-gap: 45px 90px ;
						grid-template-columns: minmax(auto, 510px) minmax(auto, 435px);
						& > [data-grid-full]{
							grid-column: span 2;
						}
					});
				}
				&.is--team{
					display: grid;
					grid-gap: 25px;
					grid-template-columns: repeat(2, 1fr);
					.media-breakpoint-down(@sm; {
						& > *:nth-child(1),
						& > *:nth-child(2){
							grid-column: span 2;
						}						
					});
					.media-breakpoint-up(@xl; {
						grid-template-columns: repeat(3, 1fr);
					});
					.media-breakpoint-up(@xxl; {
						grid-gap: 30px 110px;
					});
				}
			}
		}
		&.is--works{
			&-gallery{
				display: grid;
				grid-gap: 15px;
				grid-template-columns: 100%;
				.media-breakpoint-up(@md; {	
					grid-gap: 25px 30px;				
					&.is--xl-xs{
						grid-template-columns: repeat(3, 1fr);
					}
					&.is--xs-xl{
						grid-template-columns: repeat(3, 1fr);
					}
					&.is--xs-3{
						grid-template-columns: repeat(3, 1fr);
					}
				});
			}
		}
	}
	&effect{
		display: block;
		height: 100%;
		width: 100%;		
		img{
			display: block;
			width: 100%;
			height: 100%;
			//transition: all 0.5s ease-in-out;
			object-fit: cover;
			object-position: center;
			&:nth-child(2) {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				transition: opacity 0.3s;
			}
			.hoverEffect &{
				display: none;
			}
		}
		canvas {
			height: 100%;
		}
		.card__item:hover &{
			img{
				&:nth-child(2) {
					opacity: 1;
				}
			}
		}
	}
	&preview{
		display: block;
		position: relative;
		svg{display: block;}
		&.is--page{			
			&-index-header{
				&.is--work{
					width: 100%;
   					padding-top: ~"calc(100% / (16/9))"; 
   					//height: ~"calc(100% / (16/9))"; /* 16:9 Aspect Ratio */
   					//overflow: hidden;
					img{
						transition: all 0.5s ease-in-out;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;		
					}
					.card__item:hover &{
						img{
							transition: all 1s ease-in-out;
							transform: scale(1.08);
						}
					}

					/*img{
						display: block;
						width: 100%;
						height: 100%;
						//transition: all 0.5s ease-in-out;
						//object-fit: cover;
						//object-position: center;
						&:nth-child(2) {
							position: absolute;
							top: 0;
							left: 0;
							opacity: 0;
							transition: opacity 0.3s;
						} 
						.hoverEffect &{
							display: none;
						}
					}
					canvas {
						height: 100%;
					}
					.card__item:hover &{
						img{
							&:nth-child(2) {
								opacity: 1;
							}
							//transition: all 1s ease-in-out;
							//transform: scale(1.08);
						}
					}*/
				}
				&.is--whowow{
					position: absolute;
					z-index: 5;
					width: 100%;
					max-width: 183px;
				    bottom: 0px;
    				right: 45px;
					transform: translate(0, 45%);
					g{
						transform-box: fill-box;
  						transform-origin: center;
					}
					svg{
						width: 100%;
						height: auto
					}
					.amp{
						display: none;
					}
					.media-breakpoint-up(@lg; {
						max-width: 400px;
					});		
					.media-breakpoint-up(@xxl; {
						max-width: 490px;
					   	right: 14.5vw;
						transform: translate(0, 59%);
					});
				}
			}		
			&-agency{
				&.is--whowow{
					position: absolute;
					width: 100%;
					max-width: 170px;
				    top: -30px;
    				right: 0px;
					g{
						transform-box: fill-box;
  						transform-origin: center;
					}
					svg{
						width: 100%;
						height: auto
					}
					.media-breakpoint-down(@lg; {
						.amp{
							transform: translateX(-40px);
						}
					});
					.media-breakpoint-up(@lg; {
						max-width: 400px;
    					top: -50px;
					});			
					.media-breakpoint-up(@xl; {
						right: -50px;
					});			
					.media-breakpoint-up(@xxl; {
						max-width: 548px;
					    top: -87px;
	    				right: 30px;
					});
				}
			}
		}
		&.is--works{
			&-card{
				width: 100%;
				overflow: hidden;
				margin-bottom: 5px;
				.card__item:nth-child(5n+1) &{
					height: 71vw;
				}
				.card__item:nth-child(5n+2) &{
					height: 115.5vw;
				}
				.card__item:nth-child(5n+3) &{
					height: 54vw;
				}
				.card__item:nth-child(5n+4) &{
					height: 87.5vw;
				}
				.card__item:nth-child(5n+5) &{
					height: 99vw;
				}
				& > img{
					display: block;
					width: 100%;
					height: 100%;
					transition: all 0.5s ease-in-out;
					object-fit: cover;
					object-position: center;					
				}
				.card__item:hover &{
					& > img{
						transition: all 1s ease-in-out;
						transform: scale(1.08);
					}
				}
				.media-breakpoint-up(@sm; {
					margin-bottom: 18px;
					.card__item:nth-child(5n+1) &{
						height: 37.5vw;
					}
					.card__item:nth-child(5n+2) &{
						height: 29.4vw;
					}
					.card__item:nth-child(5n+3) &{
						height: 39.65vw;
					}
					.card__item:nth-child(5n+4) &{
						height: 28.4vw;
					}
					.card__item:nth-child(5n+5) &{
						height: 45.4vw;
					}
				});
				&.is--block{
					height: 59vw!important;
					.media-breakpoint-up(@md; {
						height: 23.4vw!important;
					});	
				}
			}
			&-gallery{
				.media-breakpoint-up(@md; {
					.card__row.is--full > &{
						height: 42vw;
					}
					.card__row.is--full.is--video > &{
						height: auto;
					}
					.card__row.is--xl-xs > &{
						&:nth-child(1){
							display: flex;
							grid-column: span 2;
							height: 37.7vw;
						}
						&:nth-child(2){
							height: 30vw;
						}
					}
					.card__row.is--xs-xl > &{
						&:nth-child(1){
							height: 30vw;
						}
						&:nth-child(2){
							height: 37.5vw;
							grid-column: span 2;
						}
					}
					.card__row.is--xs-3 > &{
						height: 30.25vw;
					}
				});	
				video{
					width: 100%;
					background-color: @default;
				}				
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
		}
		&.is--team-card{
			transition: @trs-site;
			.media-breakpoint-down(@md; {
				height: 250px;
				margin-bottom: 10px;
			});
			.media-breakpoint-down(@sm; {
				height: 145px;
				.card__item.is--team-card:nth-child(1) &,
				.card__item.is--team-card:nth-child(2) &{
					height: 210px;
				}
			});
			.media-breakpoint-up(@md; {
				//max-width: 410px;
				height: 300px;
				.card__item.is--team-card &{
					clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);
				}
				.card__item.is--team-card:hover &{
					clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
				}
				//ромб
				.card__item.is--team-card.is--rhombus &{
					clip-path: polygon(0% 49.5%,49.5% 0%,99% 49.5%,49.5% 99%,0% 49.5%);
				}
				.card__item.is--team-card.is--rhombus:hover &{
					clip-path: polygon(0 0%,100% 0,100% 100%,0 100%,0 0);
				}
				//end,s ромб
				//круг
				.card__item.is--team-card.is--round &{
					border-radius: 50%;
					overflow: hidden;
					clip-path: none;
				}
				.card__item.is--team-card.is--round:hover &{	
					border-radius: 0%;
				}
				//end,s круг
				//звезда
				.card__item.is--team-card.is--star &{
					clip-path: polygon(50% 2%,65.45% 33.34%,100% 38.36%,75% 62.75%,80.9% 97.2%,50% 80.93%,19.1% 97.2%,25% 62.75%,0% 38.36%,34.55% 33.34%,50% 2%);
				}
				.card__item.is--team-card.is--star:hover &{
					clip-path: polygon(50% 0%,100% 0%,100% 38.36%,100% 100%,80.9% 100%,50% 100%,19.1% 100%,0% 100%,0 38.36%,0% 0%,50% 0%);
				}
				//end,s звезда
				//треугольник
				.card__item.is--team-card.is--triangle &{
					clip-path: polygon(0% 94.52%,50% 6%,50% 6%,100% 94.52%);
				}
				.card__item.is--team-card.is--triangle:hover &{
					clip-path: polygon(0 100%,0% 0%,100% 0%,100% 100%);
				}
				//end,s треугольник
				//6-угольник
				.card__item.is--team-card.is--hexagon &{
					clip-path: polygon(24% 6%,0% 50%,24% 93%,75% 93%,100% 50%,75% 6%);
				}
				.card__item.is--team-card.is--hexagon:hover &{
					clip-path: polygon(0% 0%,0 50%,0 100%,100% 100%,100% 50%,100% 0%);
				}
				//end,s 6-угольник
				//цветок
				.card__item.is--team-card.is--flower &{
					clip-path: polygon(100.1% 50%,99.93% 48.14%,99.49% 46.5%,98.6% 44.62%,97.1% 42.7%,95.1% 41.15%,93.1% 40.29%,90.1% 39.98%,86.1% 40.67%,75.06% 43.31%,86.1% 40.03%,89.75% 38.67%,92.1% 37%,93.59% 35%,94.4% 33%,94.76% 31%,94.72% 29%,94.29% 27%,93.4% 25%,92.35% 23.5%,91.1% 22.25%,89.1% 20.93%,87.1% 20.16%,85.1% 19.85%,82.1% 20.2%,79.73% 21.32%,75.39% 25.04%,68.37% 31.73%,74.77% 25.04%,78.77% 20.37%,79.53% 19%,80.13% 17%,80.25% 15%,79.95% 13.04%,78.81% 10.35%,77.29% 8.4%,75.1% 6.7%,72.1% 5.54%,70.1% 5.31%,68.1% 5.47%,66.04% 6.06%,64.1% 7.15%,62.73% 8.4%,61.43% 10.35%,60.76% 12%,59.33% 16.33%,56.79% 25.04%,58.92% 16.33%,59.83% 12%,60.12% 10%,60.08% 8.4%,59.48% 6.06%,58.28% 4%,57.1% 2.72%,55.88% 1.76%,54.1% 0.81%,52.1% 0.2%,50.1% 0%,48.1% 0.2%,46.1% 0.81%,44.32% 1.76%,43.1% 2.72%,41.92% 4%,40.73% 6.06%,40.12% 8.4%,40.08% 10%,40.37% 12%,41.29% 16.33%,43.41% 25.04%,40.87% 16.33%,39.44% 12%,38.77% 10.35%,38.17% 9.3%,37.47% 8.4%,36.1% 7.15%,34.16% 6.06%,32.74% 5.6%,31.1% 5.34%,28.1% 5.55%,26.6% 5.99%,25.1% 6.7%,22.91% 8.4%,21.6% 10.02%,20.59% 12%,19.97% 14.67%,20.17% 17.5%,21.42% 20.37%,23.1% 22.45%,31.83% 31.73%,22.22% 22.72%,20.47% 21.32%,18.1% 20.2%,16.1% 19.85%,14.1% 19.95%,12.1% 20.49%,10.1% 21.51%,8.31% 23%,6.8% 25%,5.91% 27%,5.48% 29%,5.57% 32%,6.61% 35%,8.1% 36.99%,10.45% 38.67%,13.1% 39.69%,25.14% 43.31%,13.1% 40.46%,10.1% 39.98%,7.1% 40.3%,5.1% 41.15%,3.3% 42.5%,1.84% 44.25%,0.91% 46%,0.3% 48%,0.1% 50%,0.21% 51.5%,0.55% 53%,1.31% 54.86%,2.39% 56.5%,3.87% 58%,5.42% 59.03%,7.1% 59.7%,8.49% 59.98%,10.1% 60.02%,13.1% 59.54%,25.14% 56.69%,13.1% 60.31%,10.45% 61.32%,8.49% 62.63%,7.1% 64.21%,6.14% 66%,5.57% 68%,5.42% 70.28%,5.96% 73.15%,6.8% 75%,7.85% 76.5%,9.1% 77.74%,10.8% 78.91%,12.92% 79.78%,15.1% 80.15%,17.1% 80.03%,18.83% 79.54%,20.47% 78.67%,23.92% 75.78%,31.83% 68.27%,24.34% 76.15%,21.42% 79.63%,20.6% 81.17%,20.1% 82.84%,19.96% 85.23%,20.6% 88.02%,21.8% 90.27%,23.32% 92%,25.1% 93.3%,27.6% 94.33%,30.1% 94.69%,32.1% 94.53%,34.1% 93.96%,36.1% 92.85%,37.44% 91.64%,38.77% 89.65%,40.45% 85%,43.41% 74.96%,40.99% 85%,40.08% 90%,40.12% 91.64%,40.49% 93.3%,41.25% 95%,42.68% 96.88%,44.1% 98.09%,45.78% 99.05%,48.1% 99.8%,50.1% 100%,52.1% 99.8%,53.6% 99.39%,55.3% 98.6%,57.1% 97.29%,58.28% 96%,59.16% 94.62%,59.71% 93.3%,60.03% 91.99%,60.12% 90%,59.25% 85.14%,56.79% 74.96%,59.79% 85.14%,61.43% 89.65%,62.1% 90.8%,63.1% 91.99%,64.78% 93.3%,67.1% 94.3%,69.1% 94.66%,71.1% 94.62%,73.1% 94.19%,75.1% 93.3%,77.1% 91.8%,78.6% 89.99%,79.6% 88.04%,80.23% 85.38%,80.18% 83.33%,79.73% 81.5%,78.77% 79.63%,76.1% 76.42%,68.37% 68.27%,76.1% 75.61%,79.73% 78.67%,82.6% 79.93%,85.1% 80.15%,87.77% 79.63%,90.19% 78.43%,92.1% 76.79%,93.4% 75%,94.41% 72.61%,94.79% 70%,94.41% 67%,93.1% 64.2%,91.6% 62.53%,89.75% 61.32%,84.1% 59.33%,75.06% 56.69%,84.1% 58.89%,90.1% 60.02%,91.6% 59.99%,93.1% 59.7%,95.1% 58.85%,97.1% 57.3%,98.6% 55.38%,99.65% 53%,100.1% 50%);

				}
				.card__item.is--team-card.is--flower:hover &{
					clip-path: polygon(100% 50%,100% 48.14%,100% 46.5%,100% 44.62%,100% 42.7%,100% 41.15%,100% 40.29%,100% 39.98%,100% 40.67%,100% 43.31%,100% 40.03%,100% 38.67%,100% 37%,100% 35%,100% 33%,100% 31%,100% 29%,100% 27%,100% 25%,100% 23.5%,100% 22.25%,100% 20.93%,100% 20.16%,100% 19.85%,100% 20.2%,100% 21.32%,100% 25.04%,100% 31.73%,100% 25.04%,100% 20.37%,100% 19%,100% 17%,100% 15%,100% 13.04%,100% 10.35%,100% 8.4%,100% 6.7%,100% 5.54%,100% 5.31%,100% 5.47%,100% 6.06%,100% 7.15%,100% 8.4%,100% 10.35%,100% 12%,100% 16.33%,100% 25.04%,100% 16.33%,100% 12%,100% 10%,100% 8.4%,100% 6.06%,100% 4%,100% 2.72%,100% 1.76%,100% 0.81%,100% 0.2%,100% 0%,0% 0.2%,0% 0.81%,0% 1.76%,0% 2.72%,0% 4%,0% 6.06%,0% 8.4%,0% 10%,0% 12%,0% 16.33%,0% 25.04%,0% 16.33%,0% 12%,0% 10.35%,0% 9.3%,0% 8.4%,0% 7.15%,0% 6.06%,0% 5.6%,0% 5.34%,0% 5.55%,0% 5.99%,0% 6.7%,0% 8.4%,0% 10.02%,0% 12%,0% 14.67%,0% 17.5%,0% 20.37%,0% 22.45%,0% 31.73%,0% 22.72%,0% 21.32%,0% 20.2%,0% 19.85%,0% 19.95%,0% 20.49%,0% 21.51%,0% 23%,0% 25%,0% 27%,0% 29%,0% 32%,0% 35%,0% 36.99%,0% 38.67%,0% 39.69%,0% 43.31%,0% 40.46%,0% 39.98%,0% 40.3%,0% 41.15%,0% 42.5%,0% 44.25%,0% 46%,0% 48%,0% 50%,0% 51.5%,0% 53%,0% 54.86%,0% 56.5%,0% 58%,0% 59.03%,0% 59.7%,0% 59.98%,0% 60.02%,0% 59.54%,0% 56.69%,0% 60.31%,0% 61.32%,0% 62.63%,0% 64.21%,0% 66%,0% 68%,0% 70.28%,0% 73.15%,0% 75%,0% 76.5%,0% 77.74%,0% 78.91%,0% 79.78%,0% 80.15%,0% 80.03%,0% 79.54%,0% 78.67%,0% 75.78%,0% 68.27%,0% 76.15%,0% 79.63%,0% 81.17%,0% 82.84%,0% 85.23%,0% 88.02%,0% 90.27%,0% 92%,0% 93.3%,0% 94.33%,0% 94.69%,0% 94.53%,0% 93.96%,0% 92.85%,0% 91.64%,0% 89.65%,0% 85%,0% 74.96%,0% 85%,0% 90%,0% 91.64%,0% 93.3%,0% 95%,0% 96.88%,0% 98.09%,0% 99.05%,0% 99.8%,0% 100%,100% 99.8%,100% 99.39%,100% 98.6%,100% 97.29%,100% 96%,100% 94.62%,100% 93.3%,100% 91.99%,100% 90%,100% 85.14%,100% 74.96%,100% 85.14%,100% 89.65%,100% 90.8%,100% 91.99%,100% 93.3%,100% 94.3%,100% 94.66%,100% 94.62%,100% 94.19%,100% 93.3%,100% 91.8%,100% 89.99%,100% 88.04%,100% 85.38%,100% 83.33%,100% 81.5%,100% 79.63%,100% 76.42%,100% 68.27%,100% 75.61%,100% 78.67%,100% 79.93%,100% 80.15%,100% 79.63%,100% 78.43%,100% 76.79%,100% 75%,100% 72.61%,100% 70%,100% 67%,100% 64.2%,100% 62.53%,100% 61.32%,100% 59.33%,100% 56.69%,100% 58.89%,100% 60.02%,100% 59.99%,100% 59.7%,100% 58.85%,100% 57.3%,100% 55.38%,100% 53%,100% 50%);
				}
				//end,s цветок
				//подушка
				.card__item.is--team-card.is--pillow &{
					clip-path: polygon(93.56% 50%,93.6% 52%,93.76% 54%,93.91% 56%,94.09% 58%,94.29% 60%,94.51% 62%,94.75% 64%,95% 66%,95.27% 68%,95.54% 70%,95.83% 72%,96.13% 74%,96.44% 76%,96.76% 78%,97.08% 80%,97.42% 82%,97.76% 84%,98.11% 86%,98.46% 88%,98.83% 90%,99.2% 92%,99.57% 94%,99.79% 96%,100% 97%,98.5% 96.52%,96.5% 95.67%,94% 94.68%,91.19% 93.64%,88.18% 92.62%,85.16% 91.67%,81.5% 90.63%,77.72% 89.67%,73.5% 88.74%,69.75% 88.04%,63.64% 87.14%,59.29% 86.69%,54.82% 86.4%,50% 86.29%,45% 86.41%,40.59% 86.7%,36.2% 87.16%,32.38% 87.69%,30.18% 88.05%,27.4% 88.56%,22.21% 89.69%,19% 90.5%,15.42% 91.5%,12.37% 92.44%,8.75% 93.66%,5.83% 94.74%,3.26% 95.77%,0% 97.21%,0.43% 95%,0.8% 93%,1.36% 90%,1.89% 87%,2.41% 84%,2.92% 81%,3.39% 78.04%,3.87% 75%,4.46% 71%,4.87% 68%,5.25% 65%,5.6% 62%,5.91% 59%,6.17% 56%,6.36% 53%,6.44% 49.6%,6.35% 46%,6.15% 43%,5.89% 40%,5.58% 37%,5.23% 34%,4.84% 31%,4.43% 28%,3.99% 25%,3.37% 21%,2.71% 17%,2.2% 14%,1.68% 11%,1.14% 8%,0.58% 5%,0% 2%,3.21% 3.42%,5.96% 4.47%,8.71% 5.53%,11% 6.32%,12.76% 6.89%,15.35% 7.68%,16.75% 8.09%,18.41% 8.55%,22% 9.47%,25.42% 10.24%,27.87% 10.74%,33.17% 11.64%,35.24% 11.93%,38.07% 12.26%,39.5% 12.41%,42.5% 12.65%,44.05% 12.75%,46.38% 12.85%,48.19% 12.88%,50% 12.91%,52.44% 12.88%,57.19% 12.67%,60.5% 12.41%,64.77% 11.93%,67.55% 11.53%,72.76% 10.61%,78% 9.47%,81.57% 8.56%,83.22% 8.1%,86.3% 7.19%,88.14% 6.6%,89.58% 6.12%,91.35% 5.51%,93.19% 4.84%,95.16% 4.08%,96.79% 3.42%,100% 2%,99.61% 4%,99.23% 6%,98.86% 8%,98.5% 10%,98.14% 12%,97.8% 14%,97.45% 16%,97.12% 18%,96.79% 20%,96.47% 22%,96.16% 24%,95.86% 26%,95.57% 28%,95.29% 30%,95.03% 32%,94.73% 34%,94.53% 36%,94.31% 38%,94.1% 40%,93.91% 42%,93.8% 44%,93.65% 46%,93.58% 48%,93.56% 50%);
				}
				.card__item.is--team-card.is--pillow:hover &{
					clip-path: polygon(100% 50%,100% 52%,100% 54%,100% 56%,100% 58%,100% 60%,100% 62%,100% 64%,100% 66%,100% 68%,100% 70%,100% 72%,100% 74%,100% 76%,100% 78%,100% 80%,100% 82%,100% 84%,100% 86%,100% 88%,100% 90%,100% 92%,100% 94%,100% 96%,100% 100%,98.5% 100%,96.5% 100%,94% 100%,91.19% 100%,88.18% 100%,85.16% 100%,81.5% 100%,77.72% 100%,73.5% 100%,69.75% 100%,63.64% 100%,59.29% 100%,54.82% 100%,50% 100%,45% 100%,40.59% 100%,36.2% 100%,32.38% 100%,30.18% 100%,27.4% 100%,22.21% 100%,19% 100%,15.42% 100%,12.37% 100%,8.75% 100%,5.83% 100%,3.26% 100%,0% 100%,0% 95%,0% 93%,0% 90%,0% 87%,0% 84%,0% 81%,0% 78.04%,0% 75%,0% 71%,0% 68%,0% 65%,0% 62%,0% 59%,0% 56%,0% 53%,0% 49.6%,0% 46%,0% 43%,0% 40%,0% 37%,0% 34%,0% 31%,0% 28%,0% 25%,0% 21%,0% 17%,0% 14%,0% 11%,0% 8%,0% 5%,0% 0%,3.21% 0%,5.96% 0%,8.71% 0%,11% 0%,12.76% 0%,15.35% 0%,16.75% 0%,18.41% 0%,22% 0%,25.42% 0%,27.87% 0%,33.17% 0%,35.24% 0%,38.07% 0%,39.5% 0%,42.5% 0%,44.05% 0%,46.38% 0%,48.19% 0%,50% 0%,52.44% 0%,57.19% 0%,60.5% 0%,64.77% 0%,67.55% 0%,72.76% 0%,78% 0%,81.57% 0%,83.22% 0%,86.3% 0%,88.14% 0%,89.58% 0%,91.35% 0%,93.19% 0%,95.16% 0%,96.79% 0%,100% 0%,100% 4%,100% 6%,100% 8%,100% 10%,100% 12%,100% 14%,100% 16%,100% 18%,100% 20%,100% 22%,100% 24%,100% 26%,100% 28%,100% 30%,100% 32%,100% 34%,100% 36%,100% 38%,100% 40%,100% 42%,100% 44%,100% 46%,100% 48%,100% 50%);
				}
				//end,s подушка
				//флаг
				.card__item.is--team-card.is--flag &{
					clip-path: polygon(100% 77.53%,99% 78.47%,96.5% 80.5%,93% 83.09%,87% 86.08%,84% 87.02%,81% 87.63%,78% 87.92%,75% 87.93%,72% 87.68%,69% 87.21%,66% 86.53%,63% 85.67%,60% 84.67%,57% 83.56%,54% 82.36%,51% 81.11%,48% 79.84%,45% 78.58%,42% 77.37%,39% 76.23%,36% 75.2%,33% 74.33%,30% 73.63%,27% 73.15%,24% 72.92%,21% 72.99%,18% 73.38%,15% 74.14%,12% 75.3%,9% 76.91%,5.5% 79.5%,3% 81.61%,3% 19.15%,6% 16.54%,8.95% 14.48%,12% 12.85%,15% 11.69%,18% 10.94%,21% 10.56%,24% 10.5%,27% 10.74%,30% 11.23%,33% 11.94%,36% 12.83%,39% 13.87%,42% 15.02%,45% 16.24%,48% 17.52%,51% 18.8%,54% 20.06%,57% 21.27%,60% 22.4%,63% 23.41%,66% 24.27%,69% 24.97%,72% 25.45%,75% 25.71%,81% 25.43%,84% 24.83%,87% 23.89%,90% 22.6%,93% 20.91%,96% 18.82%,99% 16.29%,100% 15.35%);
				}
				.card__item.is--team-card.is--flag:hover &{
					clip-path: polygon(100% 100%,99% 100%,96.5% 100%,93% 100%,87% 100%,84% 100%,81% 100%,78% 100%,75% 100%,72% 100%,69% 100%,66% 100%,63% 100%,60% 100%,57% 100%,54% 100%,51% 100%,48% 100%,45% 100%,42% 100%,39% 100%,36% 100%,33% 100%,30% 100%,27% 100%,24% 100%,21% 100%,18% 100%,15% 100%,12% 100%,9% 100%,5.5% 100%,0% 100%,0% 0%,6% 0%,8.95% 0%,12% 0%,15% 0%,18% 0%,21% 0%,24% 0%,27% 0%,30% 0%,33% 0%,36% 0%,39% 0%,42% 0%,45% 0%,48% 0%,51% 0%,54% 0%,57% 0%,60% 0%,63% 0%,66% 0%,69% 0%,72% 0%,75% 0%,81% 0%,84% 0%,87% 0%,90% 0%,93% 0%,96% 0%,99% 0%,100% 0%);
				}
				//end,s флаг
				//стрелка вправо
				.card__item.is--team-card.is--arrow &{
					clip-path: polygon(0.55% 94.12%,18.14% 49.45%,0% 5%,100% 48.95%,100% 48.95%,0.55% 94.12%);
				}
				.card__item.is--team-card.is--arrow:hover &{
					clip-path: polygon(0% 94.12%,0% 49.45%,0 0%,100% 0%,100% 100%,0% 100%);
				}
				//end,s стрелка вправо
				//клякса
				.card__item.is--team-card.is--blot &{
					clip-path: polygon(75.72% 26.48%,75.82% 25.02%,75.87% 23%,75.82% 21%,75.67% 19%,75.4% 17%,74.99% 14.93%,74.46% 13%,73.72% 11%,72.72% 9%,71.31% 7%,69% 5.03%,67% 4.21%,65% 4%,63% 4.31%,60.46% 5.32%,58.7% 6.5%,57% 8.05%,55.15% 10%,53% 12.14%,50.72% 13.8%,47.65% 14.93%,44% 15.22%,39.78% 14.79%,37.08% 14.24%,35% 13.72%,31.82% 13%,29% 12.68%,26.34% 13%,24% 14.24%,22.8% 15.5%,21.74% 17.23%,20.78% 19.64%,20.36% 22.26%,20.65% 25%,21.74% 28.39%,22.8% 31%,24% 34.55%,24.33% 37.5%,23.69% 40.4%,21.74% 43%,18.68% 45.18%,14.26% 48.2%,11% 50.91%,6.93% 55.32%,2.92% 60.96%,1.33% 64%,0.24% 67.5%,0% 70.5%,0.56% 74.63%,1.53% 77.5%,2.92% 80%,4.46% 82%,5.94% 83.5%,7.86% 85%,10.17% 86.26%,11.89% 86.85%,14% 87.17%,16.88% 86.85%,20.14% 85.5%,22.26% 84%,24.76% 81.5%,27% 79%,29.12% 77%,31% 75.67%,33% 74.66%,35.19% 73.91%,37.23% 73.54%,39% 73.61%,41% 74.32%,42.9% 76%,44.81% 79.32%,46% 82.5%,47.11% 85.79%,48.26% 88.5%,49.5% 90.62%,51.02% 92.5%,53% 94.19%,56% 95.64%,59% 96.07%,62% 95.69%,65.5% 94.26%,68.1% 92.5%,70.35% 90.44%,72.45% 88%,73.91% 86%,75.09% 84.16%,76.16% 82.15%,77% 80.06%,77.44% 78.26%,77.53% 76.56%,77.21% 75%,76.79% 74%,75% 71.4%,73% 69.13%,71.36% 67.07%,70.33% 65.2%,69.66% 63%,69.66% 61.5%,70.2% 60%,72% 58.1%,75% 56.53%,77.34% 55.71%,80% 54.95%,84.54% 53.67%,87% 52.8%,89.99% 51.5%,94.08% 49%,97.17% 46%,98.95% 43%,99.82% 40%,99.98% 37%,99.74% 34.8%,99.03% 33%,98.12% 31.73%,96% 29.73%,94% 28.39%,92% 27.41%,90% 26.83%,89% 26.74%,88.14% 26.85%,86% 27.49%,84% 28.13%,81% 28.97%,79% 29.3%,77% 29.1%,75.99% 28.24%,75.72% 26.48%);

				}
				.card__item.is--team-card.is--blot:hover &{
					clip-path: polygon(75.72% 0%,75.82% 0%,75.87% 0%,75.82% 0%,75.67% 0%,75.4% 0%,74.99% 0%,74.46% 0%,73.72% 0%,72.72% 0%,71.31% 0%,69% 0%,67% 0%,65% 0%,63% 0%,60.46% 0%,58.7% 0%,57% 0%,55.15% 0%,53% 0%,50.72% 0%,47.65% 0%,44% 0%,39.78% 0%,37.08% 0%,35% 0%,31.82% 0%,29% 0%,26.34% 0%,24% 0%,22.8% 0%,21.74% 0%,20.78% 0%,20.36% 0%,20.65% 0%,21.74% 0%,22.8% 0%,24% 0%,24.33% 0%,23.69% 0%,21.74% 0%,18.68% 0%,14.26% 0%,11% 0%,6.93% 0%,2.92% 0%,1.33% 0%,0% 0%,0% 100%,0.56% 100%,1.53% 100%,2.92% 100%,4.46% 100%,5.94% 100%,7.86% 100%,10.17% 100%,11.89% 100%,14% 100%,16.88% 100%,20.14% 100%,22.26% 100%,24.76% 100%,27% 100%,29.12% 100%,31% 100%,33% 100%,35.19% 100%,37.23% 100%,39% 100%,41% 100%,42.9% 100%,44.81% 100%,46% 100%,47.11% 100%,48.26% 100%,49.5% 100%,51.02% 100%,53% 100%,56% 100%,59% 100%,62% 100%,65.5% 100%,68.1% 100%,70.35% 100%,72.45% 100%,73.91% 100%,75.09% 100%,76.16% 100%,77% 100%,77.44% 100%,77.53% 100%,77.21% 100%,76.79% 100%,75% 100%,73% 100%,71.36% 100%,70.33% 100%,69.66% 100%,69.66% 100%,70.2% 100%,72% 100%,75% 100%,77.34% 100%,80% 100%,84.54% 100%,87% 100%,89.99% 100%,94.08% 100%,97.17% 100%,98.95% 100%,99.82% 100%,99.98% 100%,99.74% 0%,99.03% 0%,98.12% 0%,96% 0%,94% 0%,92% 0%,90% 0%,89% 0%,88.14% 0%,86% 0%,84% 0%,81% 0%,79% 0%,77% 0%,75.99% 0%,75.72% 0%);

				}
				//end,s клякса
				//сердце
				.card__item.is--team-card.is--heart &{
					clip-path: polygon(49.98% 21.11%,49.4% 20%,48% 17.74%,46% 15.24%,44.04% 13.31%,42% 11.7%,40% 10.43%,38% 9.4%,36% 8.58%,34% 7.95%,32% 7.48%,30% 7.17%,28% 7.02%,26% 7.02%,24% 7.16%,22% 7.46%,19.67% 8%,17% 8.91%,14.64% 10%,11.44% 12%,9% 14.03%,7.12% 16%,5.57% 18%,3.24% 22%,1.67% 26%,0.68% 30%,0.14% 34%,0% 37.61%,0.12% 40.23%,0.67% 43.74%,1.55% 47.01%,2.89% 50.52%,4.84% 54.41%,7.47% 58.63%,10.27% 62.39%,13.74% 66.42%,16.68% 69.47%,19.88% 72.51%,22.9% 75.18%,26.04% 77.76%,28.89% 79.99%,31.54% 81.95%,33.86% 83.61%,36.01% 85.08%,40.14% 87.79%,42.17% 89.06%,44.22% 90.3%,46.18% 91.45%,48.17% 92.57%,50.05% 93.59%,50.59% 93.32%,52.07% 92.57%,54.17% 91.45%,56.23% 90.3%,58.38% 89.06%,60.48% 87.79%,62.6% 86.47%,64.75% 85.08%,66.96% 83.61%,69.32% 81.95%,72% 79.99%,74.87% 77.76%,78% 75.18%,81% 72.51%,84.14% 69.47%,87% 66.42%,90.34% 62.39%,93.02% 58.63%,95.5% 54.41%,97.31% 50.52%,98.55% 47.01%,99.37% 43.74%,99.87% 40.23%,100% 37.4%,99.87% 34%,99.37% 30%,98.55% 26.5%,97.31% 23%,95.5% 19.44%,93.02% 16%,90.34% 13.31%,87% 10.89%,84.14% 9.4%,81% 8.25%,78% 7.56%,74.87% 7.21%,69.32% 7.48%,66.96% 7.95%,64.75% 8.58%,62.6% 9.4%,60.48% 10.43%,58.38% 11.7%,56.23% 13.31%,54.17% 15.24%,52.07% 17.74%,50.59% 20%,49.98% 21.11%);
				}
				.card__item.is--team-card.is--heart:hover &{
					clip-path: polygon(49.98% 0%,49.4% 0%,48% 0%,46% 0%,44% 0%,42% 0%,40% 0%,38% 0%,36% 0%,34% 0%,32% 0%,30% 0%,28% 0%,26% 0%,24% 0%,22% 0%,20% 0%,17% 0%,14.64% 0%,11.44% 0%,9% 0%,7.12% 0%,5.57% 0%,3.24% 0%,1.67% 0%,0.68% 0%,0.14% 0%,0% 37.61%,0.12% 100%,0.67% 100%,1.55% 100%,2.89% 100%,4.84% 100%,7.47% 100%,10.27% 100%,13.74% 100%,16.68% 100%,19.88% 100%,22.9% 100%,26.04% 100%,28.89% 100%,31.54% 100%,33.86% 100%,36.01% 100%,40.14% 100%,42.17% 100%,44.22% 100%,46.18% 100%,48.17% 100%,50.05% 100%,50.59% 100%,52.07% 100%,54.17% 100%,56.23% 100%,58.38% 100%,60.48% 100%,62.6% 100%,64.75% 100%,66.96% 100%,69.32% 100%,72% 100%,74.87% 100%,78% 100%,81% 100%,84.14% 100%,87% 100%,90.34% 100%,93.02% 100%,95.5% 100%,97.31% 100%,98.55% 100%,99.37% 100%,99.87% 100%,100% 100%,99.87% 0%,99.37% 0%,98.55% 0%,97.31% 0%,95.5% 0%,93.02% 0%,90.34% 0%,87% 0%,84.14% 0%,81% 0%,78% 0%,74.87% 0%,69.32% 0%,66.96% 0%,64.75% 0%,62.6% 0%,60.48% 0%,58.38% 0%,56.23% 0%,54.17% 0%,52.07% 0%,50.59% 0%,49.98% 0%);
				}
				//end,s сердце
				//стрелка вверх
				.card__item.is--team-card.is--house &{
					clip-path: polygon(93.34% 98.18%,93.32% 98.47%,93.26% 98.73%,93.11% 99.1%,92.95% 99.37%,92.33% 99.87%,92.05% 99.96%,91.73% 100%,8.43% 99.98%,8.21% 99.94%,7.93% 99.83%,7.69% 99.68%,7.53% 99.53%,7.36% 99.33%,7.22% 99.09%,7.12% 98.87%,7.06% 98.67%,7.01% 98.42%,7% 98.18%,7.02% 49.38%,7.08% 49%,7.2% 48.53%,7.4% 48%,7.65% 47.5%,8.09% 46.76%,8.61% 46.05%,49.03% 0.54%,49.26% 0.32%,49.5% 0.17%,49.76% 0.06%,50.17% 0%,50.5% 0.04%,50.86% 0.17%,51.08% 0.3%,51.32% 0.52%,91.84% 46.5%,92.2% 47%,92.43% 47.35%,92.69% 47.78%,92.88% 48.15%,93.03% 48.5%,93.18% 48.89%,93.28% 49.28%,93.34% 49.69%);

				}
				.card__item.is--team-card.is--house:hover &{
					clip-path: polygon(100% 98.18%,100% 98.47%,100% 98.73%,100% 99.1%,100% 99.37%,100% 99.87%,100% 99.96%,100% 100%,0% 99.98%,0% 99.94%,0% 99.83%,0% 99.68%,0% 99.53%,0% 99.33%,0% 99.09%,0% 98.87%,0% 98.67%,0% 98.42%,0% 98.18%,0% 49.38%,0% 49%,0% 48.53%,0% 48%,0% 47.5%,0% 46.76%,0% 0%,49.03% 0%,49.26% 0%,49.5% 0%,49.76% 0%,50.17% 0%,50.5% 0%,50.86% 0%,51.08% 0%,51.32% 0%,100% 0%,100% 47%,100% 47.35%,100% 47.78%,100% 48.15%,100% 48.5%,100% 48.89%,100% 49.28%,100% 49.69%);

				}
				//end,s стрелка вверх
				//буква х
				.card__item.is--team-card.is--x &{
					clip-path: polygon(0% 10%,40% 10%,50% 25%,60% 10%,100% 10%,75% 50%,100% 90%,60% 90%,50% 75%,40% 90%,0% 90%,25% 50%);;

				}
				.card__item.is--team-card.is--x:hover &{
					clip-path: polygon(0% 0%,40% 0%,50% 0%,60% 00%,100% 0%,100% 50%,100% 100%,60% 100%,50% 100%,40% 100%,0% 100%,0% 50%);
				}
				//end,s буква х	
				//тучка
				.card__item.is--team-card.is--cloud &{
					clip-path: polygon(4.16% 49.65%,3% 48.8%,1.5% 47.06%,0.53% 45%,0.09% 43%,0.01% 41%,0.24% 39%,0.74% 37%,1.5% 35.06%,2.4% 33.37%,3.92% 31.26%,5.34% 29.8%,6.66% 28.76%,8.09% 27.89%,9.93% 27.12%,12% 26.66%,13.94% 26.59%,13.85% 25%,14.28% 23%,15.26% 21%,16.74% 19.05%,18.6% 17.33%,20.72% 15.92%,22.82% 14.93%,25% 14.27%,27% 13.97%,29% 13.95%,31% 14.21%,33% 14.76%,35% 15.64%,37.17% 17%,39.11% 18.62%,39.69% 17%,40.55% 15.82%,42% 14.58%,44% 13.48%,46% 12.77%,47.92% 12.33%,50% 12.06%,52% 12%,54% 12.12%,56% 12.43%,58% 12.95%,60.03% 13.74%,62% 14.85%,64% 16.51%,65.24% 18%,66% 19.28%,66.54% 20.5%,66.99% 21.97%,67.81% 20.45%,68.96% 19.28%,70.64% 18.26%,72.65% 17.57%,74.56% 17.25%,76.7% 17.18%,78.59% 17.34%,80.65% 17.74%,82.63% 18.34%,84.5% 19.16%,86.42% 20.3%,88% 21.57%,89.31% 23%,90.44% 24.77%,91.11% 26.41%,91.52% 28.28%,91.62% 30%,91.47% 31.69%,91.15% 33.25%,90.61% 34.97%,92% 34.82%,93% 34.96%,93.89% 35.26%,95.07% 35.95%,96.21% 37%,97.24% 38.34%,98.19% 40.09%,98.94% 42%,99.49% 44%,99.83% 46%,99.99% 48%,99.97% 50%,99.66% 52.58%,99.16% 54.6%,98.5% 56.33%,97.38% 58.33%,95.98% 60%,94.8% 61%,93.25% 61.93%,91.47% 62.6%,90% 62.92%,88.62% 63.06%,89.16% 64.68%,89.39% 66.28%,89.3% 68%,88.8% 69.88%,87.89% 71.74%,87% 73.02%,85.64% 74.5%,83.63% 76.13%,81.5% 77.37%,79.09% 78.33%,77.6% 78.7%,76.22% 78.89%,74.74% 78.93%,73.22% 78.74%,72.05% 78.4%,70.82% 77.83%,69.54% 76.85%,69.54% 77.83%,69.2% 79.21%,68.5% 80.58%,67% 82.33%,65.28% 83.7%,63.12% 84.96%,61% 85.88%,58.4% 86.67%,56% 87.12%,47.72% 86.39%,45.5% 85.32%,44% 84.2%,42.95% 83.12%,41.89% 81.61%,41.33% 80.5%,40.9% 79.37%,40.51% 80.5%,39.62% 81.73%,38% 82.83%,36% 83.48%,34% 83.72%,31.98% 83.67%,29.93% 83.4%,28% 82.94%,26% 82.25%,24% 81.32%,21.92% 80%,20.72% 79%,19.77% 78%,18.82% 76.68%,18.05% 75%,17.67% 73%,17.7% 71.76%,18.04% 70.1%,17% 70.62%,15.5% 70.96%,14% 70.95%,12% 70.5%,9.72% 69.45%,7.84% 68.17%,6.34% 66.85%,4.77% 65.07%,3.4% 63%,2.23% 60.35%,1.69% 58%,1.61% 56%,2.12% 53.27%,3% 51.31%,4.16% 49.65%);

				}
				.card__item.is--team-card.is--cloud:hover &{
					clip-path: polygon(0% 0%,3% 0%,1.5% 0%,0.53% 0%,0.09% 0%,0.01% 0%,0.24% 0%,0.74% 0%,1.5% 0%,2.4% 0%,3.92% 0%,5.34% 0%,6.66% 0%,8.09% 0%,9.93% 0%,12% 0%,13.94% 0%,13.85% 0%,14.28% 0%,15.26% 0%,16.74% 0%,18.6% 0%,20.72% 0%,22.82% 0%,25% 0%,27% 0%,29% 0%,31% 0%,33% 0%,35% 0%,37.17% 0%,39.11% 0%,39.69% 0%,40.55% 0%,42% 0%,44% 0%,46% 0%,47.92% 0%,50% 0%,52% 0%,54% 0%,56% 0%,58% 0%,60.03% 0%,62% 0%,64% 0%,65.24% 0%,66% 0%,66.54% 0%,66.99% 0%,67.81% 0%,68.96% 0%,70.64% 0%,72.65% 0%,74.56% 0%,76.7% 0%,78.59% 0%,80.65% 0%,82.63% 0%,84.5% 0%,86.42% 0%,88% 0%,89.31% 0%,90.44% 0%,91.11% 0%,91.52% 0%,91.62% 0%,91.47% 0%,91.15% 0%,90.61% 0%,92% 0%,93% 0%,93.89% 0%,95.07% 0%,96.21% 0%,97.24% 0%,98.19% 0%,98.94% 0%,99.49% 0%,99.83% 0%,99.99% 0%,99.97% 0%,100% 0%,100% 100%,98.5% 100%,97.38% 100%,95.98% 100%,94.8% 100%,93.25% 100%,91.47% 100%,90% 100%,88.62% 100%,89.16% 100%,89.39% 100%,89.3% 100%,88.8% 100%,87.89% 100%,87% 100%,85.64% 100%,83.63% 100%,81.5% 100%,79.09% 100%,77.6% 100%,76.22% 100%,74.74% 100%,73.22% 100%,72.05% 100%,70.82% 100%,69.54% 100%,69.54% 100%,69.2% 100%,68.5% 100%,67% 100%,65.28% 100%,63.12% 100%,61% 100%,58.4% 100%,56% 100%,47.72% 100%,45.5% 100%,44% 100%,42.95% 100%,41.89% 100%,41.33% 100%,40.9% 100%,40.51% 100%,39.62% 100%,38% 100%,36% 100%,34% 100%,31.98% 100%,29.93% 100%,28% 100%,26% 100%,24% 100%,21.92% 100%,20.72% 100%,19.77% 100%,18.82% 100%,18.05% 100%,17.67% 100%,17.7% 100%,18.04% 100%,17% 100%,15.5% 100%,14% 100%,12% 100%,9.72% 100%,7.84% 100%,6.34% 100%,4.77% 100%,3.4% 100%,2.23% 100%,1.69% 100%,1.61% 100%,2.12% 100%,3% 100%,0% 100%);
				}
				//end,s тучка
				//попка
				.card__item.is--team-card.is--heart-m &{
					clip-path: polygon(50.02% 79.5%,50.6% 80.6%,52% 82.86%,54% 85.37%,55.96% 87.29%,58% 88.9%,60% 90.17%,62% 91.2%,64% 92.02%,66% 92.66%,68% 93.12%,70% 93.43%,72% 93.58%,74% 93.59%,76% 93.44%,78% 93.15%,80.33% 92.6%,83% 91.69%,85.36% 90.6%,88.56% 88.6%,91% 86.57%,92.88% 84.6%,94.43% 82.6%,96.76% 78.6%,98.33% 74.6%,99.32% 70.6%,99.86% 66.6%,100% 62.99%,99.88% 60.37%,99.33% 56.86%,98.45% 53.59%,97.11% 50.08%,95.16% 46.19%,92.53% 41.98%,89.73% 38.21%,86.26% 34.18%,83.32% 31.13%,80.12% 28.09%,77.1% 25.42%,73.96% 22.84%,71.11% 20.61%,68.46% 18.65%,66.14% 17%,63.99% 15.52%,59.86% 12.81%,57.83% 11.54%,55.78% 10.3%,53.82% 9.16%,51.83% 8.03%,49.95% 7.02%,49.41% 7.28%,47.93% 8.03%,45.83% 9.16%,43.77% 10.3%,41.62% 11.54%,39.52% 12.81%,37.4% 14.13%,35.25% 15.52%,33.04% 17%,30.68% 18.65%,28% 20.61%,25.13% 22.84%,22% 25.42%,19% 28.09%,15.86% 31.13%,13% 34.18%,9.66% 38.21%,6.98% 41.98%,4.5% 46.19%,2.69% 50.08%,1.45% 53.59%,0.63% 56.86%,0.13% 60.37%,0% 63.2%,0.13% 66.6%,0.63% 70.6%,1.45% 74.1%,2.69% 77.6%,4.5% 81.16%,6.98% 84.6%,9.66% 87.29%,13% 89.71%,15.86% 91.2%,19% 92.35%,22% 93.05%,25.13% 93.39%,30.68% 93.12%,33.04% 92.66%,35.25% 92.02%,37.4% 91.2%,39.52% 90.17%,41.62% 88.9%,43.77% 87.29%,45.83% 85.37%,47.93% 82.86%,49.41% 80.6%,50.02% 79.5%);

				}
				.card__item.is--team-card.is--heart-m:hover &{
					clip-path: polygon(50.02% 100%,50.6% 100%,52% 100%,54% 100%,55.96% 100%,58% 100%,60% 100%,62% 100%,64% 100%,66% 100%,68% 100%,70% 100%,72% 100%,74% 100%,76% 100%,78% 100%,80.33% 100%,83% 100%,85.36% 100%,88.56% 100%,91% 100%,92.88% 100%,94.43% 100%,96.76% 100%,98.33% 100%,99.32% 100%,99.86% 100%,100% 100%,99.88% 0%,99.33% 0%,98.45% 0%,97.11% 0%,95.16% 0%,92.53% 0%,89.73% 0%,86.26% 0%,83.32% 0%,80.12% 0%,77.1% 0%,73.96% 0%,71.11% 0%,68.46% 0%,66.14% 0%,63.99% 0%,59.86% 0%,57.83% 0%,55.78% 0%,53.82% 0%,51.83% 0%,49.95% 0%,49.41% 0%,47.93% 0%,45.83% 0%,43.77% 0%,41.62% 0%,39.52% 0%,37.4% 0%,35.25% 0%,33.04% 0%,30.68% 0%,28% 0%,25.13% 0%,22% 0%,19% 0%,15.86% 0%,13% 0%,9.66% 0%,6.98% 0%,4.5% 0%,2.69% 0%,1.45% 0%,0.63% 0%,0.13% 0%,0% 63.2%,0.13% 100%,0.63% 100%,1.45% 100%,2.69% 100%,4.5% 100%,6.98% 100%,9.66% 100%,13% 100%,15.86% 100%,19% 100%,22% 100%,25.13% 100%,30.68% 100%,33.04% 100%,35.25% 100%,37.4% 100%,39.52% 100%,41.62% 100%,43.77% 100%,45.83% 100%,47.93% 100%,49.41% 100%,50.02% 100%);

				}
				//end,s попка
			});
			.media-breakpoint-up(@xl; {
				max-width: 26.3vw;
				height: 26.3vw;
			});
			.media-breakpoint-up(@xxl; {
				max-width: 21.7vw;
				height: 21.7vw;
			});
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}
	&wrap{
		&.is--team-card{
			background-color: @white;
			.media-breakpoint-up(@md; {
				padding: 20px 20px;
				opacity: 0;
				transition: @trs-site;
				.card__item.is--team-card:hover &{
					opacity: 1;
					transition: @trs-site 0.3s;
				}
			});
			.media-breakpoint-up(@xxl; {
				padding: 20px 35px;
			});
		}
	}
	&heading{
		transition: @trs-site;
		&.is--works{
			&-card{
				display: block;
				font-family: @site_ff_custom;
				.heading4();
				color: @default;
				text-transform: uppercase;
				.card__item:hover &{
					color: @primary;
				}
				.media-breakpoint-up(@md; {
					margin-bottom: 15px;
				});
				&.is--block{
					.media-breakpoint-down(@md; {
						padding-left: @container_gap;
						padding-right: @container_gap;
					});
				}
			}
		}
		&.is--page{
			&-index-header{
				&.is--work{
					background-color: @primary;
					font-family: @site_ff_custom;
					color: @default;
					font-size: 0.5em;
					line-height: 1em;
					display: flex;
					justify-content: space-between;
					text-transform: uppercase;
					padding: 8px 5px 7px 9px;
					.media-breakpoint-up(@lg; {
						display: none;
					});
				}
			}
			&-agency{
				&.is--whowow{
					font-family: @site_ff_custom;
					font-size: 4.375em;
					line-height: 0.82em;
					padding-right: 15px;
					span{
						display: block;
						text-align: right;
					}
					.media-breakpoint-up(@lg; {
						padding-right: 0;
						font-size: 13.611em;
						line-height: 0.77em;
					});
				}
				&.is--approach{
					font-family: @site_ff_custom;
					.heading3();
					font-size: 0.875em;
					line-height: 1.143em;
					margin-bottom: 62px;
					.media-breakpoint-up(@md; {
						.heading3();
						margin-bottom: 130px;
					});
				}
				&.is--works{
					font-family: @site_ff_custom;
					.heading2();
					color: @primary;
					margin-bottom: 35px;
					margin-bottom: 20px;
					.media-breakpoint-up(@md; {
						margin-bottom: 55px;
					});					
					.media-breakpoint-up(@sm; {
							span{display: none;}
							br{display: none;}
					});	
				}
				&.is--team{
					font-family: @site_ff_custom;
					.heading2();
					color: @primary;
					margin-bottom: 37px;
					.media-breakpoint-up(@md; {
						margin-bottom: 85px;
					});
					.media-breakpoint-up(@xl; {
						padding-left: @block_pl;
					});	
				}
			}
			&-works-card{
				.heading3();
				font-family: @site_ff_custom;
				margin-bottom: 13px;
				.media-breakpoint-up(@md; {
					margin-bottom: 18px;
				});
			}
		}
		&.is--team-card{
			font-family: @site_ff_custom;
			color: @primary;
			font-size: 0.875em;
			line-height: 1.143em;
			margin-bottom: 4px;
			.media-breakpoint-up(@md; {
				color: @default;
				font-size: 1.556em;
				margin-bottom: 10px;
			});
		}
	}
	&icon {
		&.is--page{			
			&-index-header{
				&.is--work{
					min-width: 18px;
					width: 18px;
					height: 10px;
					margin-left: 10px;
					margin-top: -1px;
					svg{display: block;}
					.card__item:hover &{
						transform: translateX(5px);
					}
				}
			}
		}
		&.is--works{
			&-card{
				display: inline-block;
				color: @primary;
				transition: @trs-site;
				min-width: 32px;
				width: 32px;
				height: 18px;
				margin-left: 12px;
				margin-top: 6px;
				margin-bottom: -3px;
				svg{display: block;}
				.card__item:hover &{
					transform: translateX(5px);
				}
				.media-breakpoint-up(@md; {
					min-width: 40px;
					width: 40px;
					height: 25px;
				    margin-left: 20px;
				    margin-bottom: 0
				});
			}
		}
	}
	&note{
		&.is--page{
			&-works-card{
				.heading5();
			}
		}
		&.is--works{
			&-card{
				.heading5();
				margin-bottom: 5px;
				.media-breakpoint-up(@md; {
					margin-bottom: 10px;
					padding-right: 20px;
					.card__item:nth-child(5n+5) &{
						max-width: 490px;
					}
				});
				&.is--block{
					.media-breakpoint-down(@md; {
						padding-left: @container_gap;
						padding-right: @container_gap;
					});
				}
			}
			&-gallery{
				.heading5();
    			padding-top: 28px;
			    padding-left: @container_gap;
			    padding-right: @container_gap;
			    padding-bottom: 6px;
			    .media-breakpoint-down(@sm; {
			    	//max-width: 260px;
			    });
				.media-breakpoint-up(@md; {
					padding-top: 35px;
					padding-left: 102px;
					padding-bottom: 40px;
				});
				.media-breakpoint-up(@xl; {
					padding-top: 65px;
					padding-left: @block_pl;
					padding-right: @block_pl;
				});
			}
		}
	}
	&label{
		&.is--page{
			&-agency{
				&.is--works{
					display: flex;
					font-family: @site_ff_custom;
					.heading3();
					color: @default;
					span{
						display: block;
						color: @primary;
						margin-top: 12px;
						min-width: 20px;
						width: 20px;
						height: 11px;
						margin-right: 13px;
						transform-origin: center;
						transition: @trs-site;
						svg{display: block;}
					}
					.media-breakpoint-up(@md; {	
						align-items: center;
						padding: 15px 4px;				
						span{
							margin-top: 0;
							min-width: 26px;
							width: 26px;
							height: 14px;
							margin-right: 20px;
						}
					});
					&[aria-expanded="true"]{
						color: @success;
						span{
							color: @success;
							transform: rotate(-180deg);
						}

					}					
				}
			}
			&-works-card{				
				color: @primary;
				font-size: 0.75em;
				line-height: 1em;
				.media-breakpoint-up(@md; {
					font-size: 0.778em;
					line-height: 1.286em;
				});
				span{
					display: inline-block;
					margin-right: 8px;
				}
			}
		}
		//block
		&.is--works{
			&-card{
				color: @primary;
				font-size: 0.75em;
				line-height: 1em;
				.media-breakpoint-up(@md; {
					font-size: 0.778em;
					line-height: 1.286em;
				});
				span{
					display: inline-block;
					margin-right: 8px;
				}
			}
		}
		&.is--team-card{
			font-size: 0.625em;
			line-height: 1em;
			.media-breakpoint-up(@md; {
				font-family: @site_ff_custom;
				color: @success;
				font-size: 0.889em;
				line-height: 1.250em;
				margin-bottom: 5px;
			});
		}
	}	
	&sign{
	}
	&video{
	}
	&date{	
	}
	&group-value{
		&.is--page{
			&-agency{
				&.is--works{
					display: grid;
					padding: 20px 16px 12px;
					.media-breakpoint-up(@md; {
						padding: 0 0 20px 70px;
						grid-gap: 16px 60px;
						grid-template-columns: repeat(2, 1fr);
						max-width: 1050px;
					});
					ul{
						list-style: none;
						margin: 0;
						padding: 0;
						li{
							display: flex;
							position: relative;
							//align-items: center;
							.heading5();
							color: @white;
							padding-left: 16px;
							margin-bottom: 12px;
							&::before{
								content: '';
								position: absolute;
								left: 0;
								width: 5px;
								height: 26px;
								.icon-filter();

							}
							span{
								position: absolute;
								left: 0;
								display: block;
								color: @primary;
								width: 5px;
								height: 26px;
								transition: @trs-site;
								svg{display: block;}
							}
							.media-breakpoint-up(@md; {	
								padding-left: 10px;
								margin-bottom: 16px;
								&::before{
									width: 7px;
									height: 30px;
									.icon-filter(@w: 7px; @h: auto)
								}
								span{
									width: 7px;
									height: 30px;
								}
							});
						}
					}
				}
			}
		}
	}
	&value{
		&.is--page{
			&-agency{
				&.is--works{
					
					.media-breakpoint-up(@md; {	
						span{
						}
					});				
				}
			}
		}
	}
	&btn{
	}
}