.card__{
	&item{
		&.is--works{
			&-card{
				color: @default;
			}
		}
	}
	&wrap{	
	}
	&preview{
		display: block;
		position: relative;
		svg{display: block;}
		&.is--works{
			&-card{
				overflow: hidden;
				margin-bottom: 15px;
				.card__item:nth-child(5n+1) &{
					height: 67vw;
				}
				.card__item:nth-child(5n+2) &{
					height: 110vw
				}
				.card__item:nth-child(5n+3) &{
					height: 51vw
				}
				.card__item:nth-child(5n+4) &{
					height: 83.5vw
				}
				.card__item:nth-child(5n+5) &{
					height: 94vw
				}
				img{
					transition: all 0.5s ease-in-out;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
				.card__item:hover &{
					img{
						transition: all 1s ease-in-out;
						transform: scale(1.08);
					}

				}
				.media-breakpoint-up(@sm; {
					margin-bottom: 18px;
					.card__item:nth-child(5n+1) &{
						height: 37.5vw;
					}
					.card__item:nth-child(5n+2) &{
						height: 30vw;
					}
					.card__item:nth-child(5n+3) &{
						height: 38.4vw;
					}
					.card__item:nth-child(5n+4) &{
						height: 31vw;
					}
					.card__item:nth-child(5n+5) &{
						height: 43.4vw;
					}
				});
			}
		}
	}
	&heading{
		transition: @trs-site;
		&.is--works{
			&-card{
				display: inline-flex;
				font-family: @site_ff_custom;
				.heading2();
				color: @default;
				.card__item:hover &{
					color: @primary;
				}
				.media-breakpoint-up(@md; {
					margin-bottom: 20px;
				});
			}
		}
	}
	&icon {
		&.is--works{
			&-card{
				display: block;
				color: @primary;
				transition: @trs-site;
				min-width: 18px;
				width: 18px;
				height: 12px;
				margin-left: 18px;
				.card__item:hover &{
					transform: translateX(5px);
				}
				.media-breakpoint-up(@md; {
					min-width: 36px;
					width: 36px;
					height: 24px;
					margin-left: 30px;
				});
			}
		}
	}
	&note{
		&.is--works{
			&-card{
				.heading3();
				margin-bottom: 5px;
				.media-breakpoint-up(@md; {
					margin-bottom: 20px;
					padding-right: 20px;
					.card__item:nth-child(5n+5) &{
						max-width: 490px;
					}
				});
			}
		}
	}
	&label{
		&.is--works{
			&-card{
				.heading6();
				color: @primary;
				span{
					display: inline-block;
					margin-right: 5px;
				}
			}
		}
	}	
	&sign{
	}
	&video{
	}
	&date{	
	}
	&value{
	}
	&btn{
	}
}