.filter__{  
	&block{
		margin-left: -@container_gap;
		margin-right: -@container_gap;
		.media-breakpoint-up(@xl; {
			margin-top: 20px;
			margin: 0;
			padding: 0;
		});
	} 
	&panel{
		margin-bottom: 1px;
		transition: @trs-site;
		.media-breakpoint-down(@xl; {
			background-color: @default; 
		});
		.media-breakpoint-up(@xl; {
			margin-bottom: 5px;
			margin-left: -10px;
			padding-left: 10px;
			padding-top: 10px;
		});
		.media-breakpoint-up(@xxl; {
			margin-right: 10px;
		});
		&.is--open{
			background-color: @default;
		}
		&:last-child{
			margin-bottom: 0
		}
	}
	&link{
		position: relative;
		display: block;
		padding: 8px 45px;
		&,&:hover{
			color: @white;
		}
		span{
			position: absolute;
			top: ~"calc(50% - 5px)";
			left: 20px;
			//transform: translateY(-50%);
			transform-origin: center;
			display: block;
			width: 16px;
			height: 9px;
			color: @success;
			transition: @trs-site;
			svg{display: block;}
		}
		&[aria-expanded="true"]{
			color: @success;
			span{
				transform: rotate(180deg);
			}
		}
		.media-breakpoint-up(@xl; {
			display: inline-block;
			padding: 0;
			padding-left: 28px;
			&,&:hover{
				color: @black;
			}
			span{
				left: 2px;
			}
			&[aria-expanded="true"]{
				color: @success;
			}
		});
	}
	&item-group{
		padding: 5px 16px 10px 50px;
		.media-breakpoint-up(@xl; {
			padding: 10px 15px 15px 15px;
		});
		.media-breakpoint-up(@xxl; {
			padding-left: 35px;
		});
	}
	&item{
		position: relative;
		display: block;
		margin-bottom: 2px;
		.media-breakpoint-up(@xl; {
			margin-bottom: 3px;
		});
		&:last-child{
			margin-bottom: 0;
		}
	}
	&input{
		.visually-hidden();
	}
	&name{
		//padding-left: 24px;
		display: inline-flex;
		align-items: center;
		position: relative;
		color: @white;
		span{
			width: 5px;
			height: 22px;
			margin-right: 6px;
			transition: @trs-site;
			color: fadeout(@success, 100%);
			svg{display: block;}
		}
		.media-breakpoint-up(@xl; {
		});
		.filter__input:checked + &{
			span{
				color: @success;
			}
			/*&::after{
				background-color: fadeout(@primary, 100%);
			}*/
		}
		.media-breakpoint-up(@xl; {
			/*&::before,
			&::after{
				background-color: @black;
			}*/			
			.filter__input:checked + &{
				/*&::after{
					background-color: fadeout(@black, 100%);
				}*/
			}
		});
	}
}