.content-block__{
	&wrapper{
		padding-bottom: 50px;
		padding-left: @container_gap;
		padding-right: @container_gap;
		overflow: hidden; 
		.media-breakpoint-up(@md; {
			padding-left: @container_gap + 8;
			padding-right: @container_gap + 8;
		});
		.media-breakpoint-up(@xl; {
			padding-top: 65px;
			padding-bottom: 75px;
			display: grid;
			//grid-template-columns: minmax(150px, 215px) 1fr;
			//grid-template-columns: minmax(150px, 11.2vw) 1fr;
			grid-template-columns: minmax(150px, 11.2vw) minmax(auto, 81.5vw);
			grid-gap: 30px 24px;
		});
		.media-breakpoint-up(@xxl; {
			padding-left: @container_gap_xl;
			padding-right: @container_gap_xl;
			grid-template-columns: minmax(150px, 11.2vw) minmax(auto, 76.5vw);
		});
		&-cols{
			.media-breakpoint-up(@lg; {
				position: relative;
			});
		}
	}	
	&panel{	
		position: relative;
		&.is--page{
			&-base{
				padding-top: 16px;
				padding-bottom: 16px;
				.media-breakpoint-up(@xl; {
					padding-top: 45px;
					padding-bottom: 45px;
				});
			}
			&-index-works{
				padding-top: 36px;
				padding-bottom: 16px;
				.media-breakpoint-up(@xl; {
					padding-top: 20px;
					padding-bottom: 45px;
				});
			}
			&-works{
				.media-breakpoint-up(@xl; {
					padding-top: 120px;
					padding-bottom: 75px;
				});
			}
			&-works-card{
				.media-breakpoint-up(@xl; {
					padding-top: 50px;
					padding-bottom: 140px;
				});				
			}
			&-contacts{
				.media-breakpoint-up(@xl; {
					padding-top: 155px;
					padding-bottom: 130px;
				});
			}
		}
	}		  
	&wrap{
		&.is--page{
			&-index-header{
				margin-top: ~"calc(-@{navbar_xs_height} - @{navbar_xs})";
				height: 100vh;
				min-height: 480px;
				//height: 790px;
				.media-breakpoint-up(@xl; {
					margin-top: 0;
					min-height: 0;
					height: 1000px;
					height: ~"calc(100vh - @{navbar_screen})";
				});
			}
		}
	}	  
	&bg{
		&.is--page{
			&-index-header{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				video{
					min-height: 100%;
					.media-breakpoint-up(@xl; {
						min-width: 100%;
					});
				}				
			}
		}
	}
	&container{	
		//position: relative;
		//z-index: 5;
		@media print{padding: 0!important}		
		padding-top: 15px;
		padding-bottom: 40px;
		.media-breakpoint-up(@lg; {
			padding-top: 4vw;
			padding-bottom: 5vw;			
		});
	}
	&row{
		&.is--page{
			&-works{
				grid-gap: 30px;
				.media-breakpoint-up(@md; {
					grid-gap: 69px 24px;	
				});
				.media-breakpoint-up(@lg; {	
					grid-template-columns: repeat(6, 1fr);
					& > *{
						grid-column: span 3;
						&:nth-child(5n+3){
							grid-column: span 5;
						}
					}
				});
				.media-breakpoint-up(@xl; {
					grid-gap: 62px 30px;
					grid-template-columns: repeat(12, 1fr);
					& > *{
						&:nth-child(5n+1){
							grid-column: span 8;
						}
						&:nth-child(5n+2){
							grid-column: span 4;
						}
						&:nth-child(5n+3){
							grid-column: span 11;
							//padding-right: 2.35vw;
						}
						&:nth-child(5n+4){
							grid-column: span 5;
						}
						&:nth-child(5n+5){
							grid-column: span 7;
						}
					}

				});
			}
			&-works-card{
				grid-template-columns: 100%;
				grid-gap: 29px;
				margin-bottom: 10px;
				.media-breakpoint-up(@md; {
					margin-bottom: 25px;
				});		
				.media-breakpoint-up(@lg; {
					grid-gap: 64px 32px;
					grid-template-columns: 1fr 1.2fr;
				});	
				.media-breakpoint-up(@xl; {					
					padding-left: @block_pl;
				});			
			}
			&-contacts{
				grid-template-columns: 100%;
				& > *{
					/*&:nth-child(4){
						display: none;
					}
					&:nth-child(5){
						grid-column: span 2;
					}*/
				}
				.media-breakpoint-down(@md; {
					grid-gap: 14px 30px;					
					& > *{
						&:nth-child(4){
							order: 1;
							margin-top: 16px;
						}
						&:nth-child(5){
							margin-top: 15px;
							margin-left: -@container_gap;
							margin-right: -@container_gap;
						}
					}
				});
				.media-breakpoint-up(@md; {
					grid-template-columns: repeat(3, 1fr);
					& > *{
						&:nth-child(4),
						&:nth-child(5){
							grid-column: span 3;
						}
						/*&:nth-child(4){
							display: flex;
							grid-column: span 3;
						}
						&:nth-child(5){
							grid-column: span 3;
						}*/
					}
				});
				.media-breakpoint-up(@xl; {
					grid-template-columns: 
						minmax(200px, 343px) 
						minmax(200px, 225px)  
						minmax(200px, 295px) 
						1fr;	
					& > *{
						&:nth-child(1){
							padding-left: @block_pl;
						}
						&:nth-child(4){
							justify-self: flex-end;
							margin-top: 4px;
							grid-column: span 1;
						}
						&:nth-child(5){
							grid-column: span 4;
							margin-top: 35px;
						}
					}
				});	
			}
		}
	}	  
	&label{
	}	  
	&filter{
		&.is--page{
			&-works{
				margin-bottom: 47px;
				.media-breakpoint-up(@xl; {
					display: none;
				});
			}
		}
	}
	&slider{
		&.is--block-works{
			margin: 0 -@container_gap;
		}
		/*&.is--block-works{
			.media-breakpoint-up(@md; {
				display: grid;
				margin: 0;
				grid-gap: 32px;
				grid-template-columns: repeat(3, 1fr);
				& > *:nth-child(3){
					display: block;
				}
			});
		}*/
	}	  
	&link{
		&.is--page{
			&-works-card{
				.media-breakpoint-up(@md; {
					margin-bottom: 35px;
				});				
			}
		}
	}
	&btn{
		&.is--page{
			&-index-works{
				margin-top: 50px;
				.media-breakpoint-up(@md; {
					margin-top: 85px;
				});
			}
			&-agency{
				.media-breakpoint-up(@xl; {
					padding-left: @block_pl;
				});	
			}
			&-works-card{
				text-align: center;
				margin-bottom: 50px;
				.media-breakpoint-up(@md; {
					text-align: right;
					margin-bottom: 94px;
				});			
			}
		}
	}
	&gallery{
	}
	&nav{
	}
}