<section class="{{content_prefix}}panel  is--page-base  {{content_mod}}">		
	{% include "../common/page-header/tpl.twig" with {
		prefix:"page-header__", 
		mod:heading_mod,
		level:heading_level, 
		heading:heading
	} %}
	<div class="{{content_prefix}}row  grid__row  {{content_mod}}">
		{% include "../common/card/card.twig" with {
			view: "contacts", 
			prefix:"card__", 
			mod:content_mod, 
			list:[
				{
					"label":"адрес",
					"name":contacts.address, 
				},
				{
					"label":"телефон", 
					'sublist':[
						{
							"name":contacts.phone, 
							"href":contacts.phone_tel, 
							"tag":"a", 
							"target":"tel:", 								
						},
						{
							"name":contacts.phone2, 
							"href":contacts.phone2_tel, 
							"tag":"a", 
							"target":"tel:", 								
						}
					]
				},
				{
					"label":"e-mail",
					'sublist':[
						{
							"name":contacts.email, 
							"href":contacts.email, 
							"tag":"a", 
							"target":"tel:", 								
						},
						{
							"name":contacts.email2, 
							"href":contacts.email2, 
							"tag":"a", 
							"target":"tel:", 								
						}
					]
				}
		]} %}
		<div>
			{% include "../common/button/btn.twig" with {
				view:"modal",
				prefix:"btn__", 
				mod:"", 
				target:"modal-order", 
				name:"заказать проект"
			} %}
		</div>
		{% include "../common/map/tpl.twig" with {
			view:"google",
			prefix:prefix.map,
			mod:content_mod,
			center_coord:contacts.map_center_coord,
			zoom:contacts.map_zoom,
			zoom_xs:contacts.map_zoom_xs,
			point_coord:contacts.map_point_coord,
			point_heading:contacts.map_point_heading,
		} %}	
	</div>	
		
</section>