.btn__{
	&item{
		.btn-clearfix();
		position: relative;
		display: inline-block; 	
		font-family: @site_ff_custom;
		font-size: 1.125em;
		color: @default;		
		text-align: center;	
		background-color: @primary; 
		padding: 22px 26px 26px;
		margin-right: 4px;		
		&::after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 1px solid @warning;
		    transform: translate(4px, 4px);
		    transition: @trs-site;
		}
		.media-breakpoint-down(@sm; {
			width: 100%;
		});
		.media-breakpoint-up(@md; {
			font-size: 1.333em;
			line-height: 1em;
		});
		&:hover{	
			&::after{
			    transform: translate(8px, 8px);
			}		
		}
		&:active{	
			&::after{
			    transform: translate(0px, 0px);
			}			
		}
	}
}
/*old*/
.link__{
	&item{
		.btn-clearfix();
		font-weight: 700;
		font-size: 0.75em;
		line-height: 1.33em;
		display: inline-block;
		transition: @trs-site; 	
		&,&:hover{			
			color: @link_color_hover;
		}
		&.is--prev{
			display: inline-flex;
			align-items: center;
		}
		&.is--next-rect{
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border: 2px solid @primary;
			transform: rotate(45deg);
			width: 75px;
			height: 75px;
			&:hover{
				background-color: @primary;

			}
			&:active{
				background-color: @success;
				border-color: @success;
			}
		}
		.media-breakpoint-up(@md; {	
			font-size: 1em;		
			&,&:hover{			
				color: @link_color;
			}
			&.is--next-rect{
				width: 120px;
				height: 120px;
				border-width: 4px;
			}
		});
	}
	&icon{
		&.is--prev{
			min-width: 18px;
			width: 18px;
			height: 12px;
			margin-right: 10px;
			transition: @trs-site;
			.media-breakpoint-up(@md; {
				min-width: 37px;
				width: 37px;
				height: 24px;
				margin-right: 22px;
			});
			.link__item:hover &{
				transform: translateX(-8px);
			}
		}
		&.is--next-rect{
			color: @primary;
			width: 28px;
			height: 18px;
			transform: rotate(-45deg) translate(20%, 20%);
			transition: @trs-site;
			.media-breakpoint-up(@md; {
				min-width: 37px;
				width: 44px;
				height: 29px;
				margin-right: 22px;
			});
			.link__item:hover &{
				color: @white;
			}
		}		
	}
}