.page-header__{
	&panel{
	}
	&heading{
		&.is--page{
			&-works{
				margin-bottom: 25px; 
				.media-breakpoint-up(@md; {
					margin-bottom: 45px;
				});
				.media-breakpoint-up(@xl; {
					padding-left: 95px;
					margin-bottom: 135px;
				});
			}
		}
	}
}