.icon-svg {
	display: inline-block;
	width: 100%;
	height: 100%;
	fill: currentColor;
}

.icon-arrow-back {
	font-size:(25/10)*1rem;
	//width:(37/25)*1em;
}
.icon-arrow-left {
	font-size:(28/10)*1rem;
	//width:(16/28)*1em;
}
.icon-arrow-next {
	font-size:(25/10)*1rem;
	//width:(37/25)*1em;
}
.icon-arrow-right {
	font-size:(28/10)*1rem;
	//width:(16/28)*1em;
}
.icon-filter-active {
	font-size:(22/10)*1rem;
	//width:(5/22)*1em;
}
.icon-lang-left {
	font-size:(16/10)*1rem;
	//width:(6/16)*1em;
}
.icon-lang-right {
	font-size:(16/10)*1rem;
	//width:(6/16)*1em;
}
.icon-logotip {
	font-size:(104/10)*1rem;
	//width:(254/104)*1em;
}
.icon-marker {
	font-size:(9/10)*1rem;
	//width:(16/9)*1em;
}
.icon-modal-close {
	font-size:(24/10)*1rem;
	//width:(23/24)*1em;
}
.icon-soc-be {
	font-size:(32/10)*1rem;
	//width:(32/32)*1em;
}
.icon-soc-fb {
	font-size:(32/10)*1rem;
	//width:(32/32)*1em;
}
.icon-soc-inst {
	font-size:(32/10)*1rem;
	//width:(32/32)*1em;
}
.icon-soc-v {
	font-size:(32/10)*1rem;
	//width:(32/32)*1em;
}
.icon-soc-yb {
	font-size:(32/10)*1rem;
	//width:(32/32)*1em;
}
