.continfo__{
	&block{
	}
	&card{
	}
	&label{
		&.is--page{
			&-contacts{
				color: @primary;
				.heading5();
				margin-bottom: 6px;
				.media-breakpoint-up(@md; {
					margin-bottom: 10px;
				});
			}
		}
	}
	&item{
		&.is--page{
			&-contacts{
				a{
					color: @default;
				}
				.media-breakpoint-up(@md; {
					margin-bottom: 7px;
					&:last-child{
						margin-bottom: 0;
					}
				});
			}
		}
	}
}