.footer__{
	&block{
		@media print{display: none;}
		color: @footer_color;	
		background: @footer_bg;
		padding-top: 20px;
		padding-bottom: 15px;
		.media-breakpoint-up(@md; {
			padding-top: 55px;
			padding-bottom: 40px;
			
		});
	}
	&container.container{
		max-width: 1825px;
		margin-right: 0;
	} 
	&row{
		display: grid;
		grid-template-columns: 0.5fr 1.5fr 0.5fr 1.5fr;	
		grid-gap: 6px;
		.media-breakpoint-up(@md; {
			grid-gap: 20px 16px;
			grid-template-columns: repeat(3, 1fr);			
		});
		.media-breakpoint-up(@xl; {
			grid-gap: 40px 16px;
			grid-template-columns:minmax(250px,370px) minmax(280px,298px) minmax(200px,298px) minmax(200px,295px) 1fr;	
		});
	}
	&cols{
		.media-breakpoint-down(@md; {
			grid-column: span 2;
			&.is--address,
			&.is--email,
			&.is--map{
				padding-left: 18px;
			}
			&.is--map{
				grid-row: 2;
				margin-bottom: 7px
			}
			&.is--tel{
				padding-top: 8px;
				grid-row: ~"2/4";
			}
			&.is--email{
				grid-row: 3;
				.footer__label{
					margin-bottom: 0
				}
			}
			&.is--lang{
				grid-column: 1;
				grid-row: 4;
			}
			&.is--copyright{
				padding-left: 12px;
			}
			&.is--social{
				grid-column: span 1;
			}
			&.is--lang,
			&.is--copyright,
			&.is--social{
				padding-top: 20px;
			}
			
		});
		.media-breakpoint-down(@xl; {			
			&.is--lang,
			&.is--copyright,
			&.is--social{
				padding-top: 20px;
			}
		});
		.media-breakpoint-up(@md; {	
			&.is--map{
				grid-column: 2;
				grid-row: 2;
			}	
			&.is--email{
				grid-column: 3;
				grid-row: 2;
			}		
			&.is--lang{
				grid-column: 1;
				grid-row: 3;
			}
			&.is--copyright{
				grid-column: 2;
				grid-row: 3;
			}
			&.is--social{
				grid-column: 3;
				grid-row: 3;
			}
		});
		.media-breakpoint-up(@xl; {	
			&.is--email{
				grid-column: inherit;
				grid-row: inherit;
			}		
			&.is--contacts{
				padding-top: 40px;
			}
			&.is--address{
				max-width: 270px;
			}
			&.is--map{
				grid-column: ~"2/6";
				grid-row: 2;
				margin-bottom: 75px;
			}
			&.is--lang{
				//visibility: hidden;
			}
			&.is--social{
				grid-column: 6;
				grid-row: 3;
			}
		});
		.media-breakpoint-up(@xxl; {
			//&.is--social{display: none;}
		});
	}
	&logotip{
		display: block;
		max-width: 140px;
		height: 58px;
		.media-breakpoint-up(@md; {
			max-width: 251px;
			height: 104px;
		});
		&,&:hover{
			color: @white;
		}
		svg{
			display: block;
		}
	}
	&label{
		color: @primary;
		margin-bottom: 3px;
		font-size: 0.917em;
		.media-breakpoint-up(@md; {
			font-size: 1em;
		});
		.media-breakpoint-up(@xl; {
			margin-bottom: 15px;
		});
	}
	&value{
		&,&:hover{
			color: @white;
		}
		a{
			color: @white;
		}
	}
	&map{
		color: @primary;
	}
	&copyright{
		color: @primary;
		font-size: 0.917em;
		.media-breakpoint-up(@md; {
			font-size: 0.778em;
			line-height: 1.4em;
		});
	}
}